.sidebar-links {
    list-style: none;
}

.sidebar-link {
    text-decoration: none;
    color: #fff;
}

.sidebar-link:hover {
    color: #009444;
    transform: translateY(-7px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .py-5 {
        /* This assumes 'py-5' is the class wrapping your sidebar */
        display: flex;
        flex-direction: column;
    }

    nav {
        /* Adjust the sidebar's height to match the content height */
        flex: 1;
    }

    .sidebar-links {
        /* You may need to add more styles for proper alignment */
        /* Reset margin or padding */
        margin: 0;
        padding: 0;
    }
}