.text-header{
    color: #111430;
}
.text-description{
    color: #000000;
}
.text-sp{
    color: #7AB259;
}
.text-service{
    color: #171B4E;
}
.btn-bg{
    background-color: #111430;
}
.btn:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}
.btn:active {
  transform: translateY(-3px);
}
.right-side{
  background-color: #E5E5E5;
}


/* media query */
@media only screen and (min-width: 600px) {
  .nav-link-border:hover{
    border-bottom: none;
  } 
  .login{
      min-width: 100px;
  }
  .header-img{
    width: 500px;
  }
  .header{
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

@media only screen and (max-width: 600px) {
  .header-img{
  width: 280px;
  }
  .header{
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .client{
    display: none;
  }
  .header-left{
    padding: 0 50px;
  }
  .page-name{
    display: none;
  }
  .user{
    padding-top: 50px;
  }
  .login{
    max-width: 50%;
  }
}