.zoom {
  transition: transform .4s;
  box-sizing: border-box;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

/* ServiceCard.css */

.card {
  background-color: #f8f9fa;
  /* Change this color to your desired background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 20px;
  /* Adjust the margin-bottom as needed */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  /* Adjust the height of the image */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.start-text {
  font-weight: bold;
  font-size: 1.1rem;
}

.card-text {
  background-color: #f8f9fa;
  color: #212529;
  padding: 10px;
  border-radius: 10px;
}

.bg-light {
  background-color: #f8f9fa;
}

.text-dark {
  color: #212529;
}